* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    /* margin-left: -300px; */
    background-color: #0d1117;
    transition: 0.4s;
    justify-content: center;
    overflow: scroll;
}

.nav-link {
    font-size: 1.25em;
}

.nav-link {
    background: linear-gradient(to left, #0d1117 50%, #2b7a78 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-position: left;
}

.list-nest-1 {
    list-style-type: none;
    font-size: 1em;
}

a {
    text-decoration: none;
}

#sidebar_logo {
    background: linear-gradient(to left, white 50%, #2b7a78 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

#sidebar_logo:hover {
    background-position: left;
}

.row-align-items-center {
    margin-left: 250px;
    margin-right: 0;
    height: 100vh;
    /* justify-content: center; */
    align-items: center;
    overflow: scroll;
}

.row-no-align {
    margin-left: 250px;
    margin-right: 0;
    height: 100vh;
    overflow: scroll;
}

#intro {
    background-color: #2b7a78;
    color: #0d1117;
}

#cmd_prefix {
    color: white;
}

#intro_header::after {
    content: "";
    width: 10px;
    height: 1em;
    background: white;
    display: inline-block;
    animation: blink 1.5s steps(2) infinite;
}

@keyframes blink {
    from {
        opacity: 0;
    }
}

#workExperience {
    background: url('images/white_bg.jpg');
    background-size: contain;
}

#xanantec_row {
    top: -10px;
}

#workexp_table>tbody>tr {
    background: whitesmoke;
    position: relative;
    transition: transform ease 300ms;
    box-shadow: 10px 10px 5px grey;
}

#workexp_table>tbody>tr:hover {
    transform: translate(-1.75px, -2.5px);
}

#workexp_table td {
    padding: 1em;
}

@media only screen and (max-width: 992px) {
    #sidebar_div {
        display: none;
    }

    .row-align-items-center {
        margin-left: 0px;
    }

    .row-no-align {
        margin-left: 0px;
    }
    #coinstashdemo {
        width: 300px;
    }
}

#row_projects {
    color: black;
    padding: 1em;
    background: url('images/cyan_bg.jpg');
    background-attachment: fixed;
    background-position: cover;
}

#project1_row,
#project2_col,
#project3_col {
    transition: transform ease 300ms;
    box-shadow: 10px 10px 5px #17252a;
    background: #2b7a78;
    background-position: center;
    border-radius: 5px;
    opacity: 0.9;
}

#coinstashdemo {
    border-radius: 5px;
    box-shadow: 10px 10px 5px #17252a;
}

a.project_link:hover {
    text-decoration: underline;
}

#profile {
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #17252a;
}

.hide {
    display: none;
}

a:hover + .fa-arrow-up-right-from-square {
    display: inline;
}

#row_skills {
    background-color: #def2f1;
}