@import url("/apps/common/style/style.css");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html, body {
    color: white;
    background-color: black;
    height: 100%;
}

.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation: fadeIn 5s;
}

.italic {
    font-style: italic;
}

h1 {
    font-size: 2.5em;
}

.bio-heading-1 {
    font-size: 4em;
    font-weight: bolder;
    animation: fadeIn 2s ease-in-out;
    color: rgb(255, 196, 10);
}

.bio-heading-2 {
    font-size: 2em;
}

.bio-heading-3 {
    font-size: 1.5em;
}

.section-container {
    padding-top: 5px;
    padding-bottom: 5px
}

#root-container {
    height: 100%;
}

#intro-container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;

    height: 100%;
    max-width: 1000px;

    padding: 20px;

    margin: 0 auto;
}

#intro-container div {
    margin: 20px;
}

#intro-container a {
    position: relative;
    text-decoration: none;
    color: white;

    top: 0;
    transition: top ease 0.2s;
}

#intro-container a:hover {
    top: -2px;
}

#projects-container {
    display: flex;
    flex-flow: row wrap;
    /* min-height: 100%; */
    align-content: flex-start;
}

#projects-container h1 {
    width: 100%;
    margin: 0;
    text-align: center;
}

#projects-container a {
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
}

#gallery-parent-container {
    text-align: center;
    align-items: center;
}

#gallery-header {
    margin: 10px;
}

#gallery-header h1 {
    display: inline;
}

#gallery-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;

    max-width: 1000px;
    margin: 0 auto;
}

.gallery-item {
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}

.gallery-item img {
    display: block;
    width: 100%;

    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.gallery-item img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
